
<div class="container">

  <div class="row">
    <div class="well col-md-5 col-md-offset-1 text-center border-right">
      <h1>Food</h1>
      <div id="total-calories">
        <h2><%= current_user.food_calories %></h2>
      </div>
      <h4>Calories Consumed</h4>
      <%= link_to "Enter Foods", new_user_food_path(current_user), id: "enter-food-link", remote: true, class: 'btn btn-primary' %>
      <hr>
      <div id="show-foods">
        <%= render '/foods/foods' %>
      </div>
    </div>
    <div class="well col-md-5 text-center">
      <h1>Exercise</h1>
      <div id="exercise-calories">
        <h2><%= current_user.exercise_calories %></h2>
      </div>
      <h4>Exercise Calories</h4>
      <%= link_to "Enter Exercises", new_user_exercise_path(current_user), id: "enter-exercise-link", remote: true, class: 'btn btn-primary' %>
      <hr>
      <div id="show-exercises">
        <%= render '/exercises/exercises' %>
      </div>
    </div>
  </div>

  <div id="search-results"></div>
  
</div>
