<%= will_paginate @foods %>
<table class="pretty">
  <tr>
    <th class="stat-name"><%= link_to "Name", :sort => "name" %></th>
    <th class="stat-calories"><%= link_to "Calories", :sort => "calories" %></th>
  </tr>

  <% for food in @foods %>
    <tr>
      <td class="stat-name"><%= food.name %></td>
      <td class="stat-calories"><%= food.calories %></td>
    </tr>
  <% end %>

</table>
