<div id="enter-exercise-form">
  <%= form_for [@user, @exercise], remote: true do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :calories %>
      <%= f.text_field :calories %>
    </div>
  <% end %>
</div>

<button onclick='hideNewForm2()' id="exercise-cancel-button">Cancel</button>
